.partners {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: @color-background;

  @media (min-width: @tablet-width) {
    max-width: 960px;
  }
}

.partners__title {
  margin-top: 70px;
  margin-bottom: 30px;
  align-self: flex-start;
  font-size: 28px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  color: #121920;
}

.partners__list {
  list-style: none;
  margin: 0 0 73px;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
}
.partners__item {
  width: 335px;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid @color-grey-accent-secondary;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 229px;
    height: 120px;
    margin-bottom: 0;
    // margin-right: 20px;

    &:nth-child(3n) {
      width: 230px;
      margin-right: 0;
    }
  }
}

.partners__logo {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 285px;
  height: 90px;

  @media (min-width: @tablet-width) {
    width: 199px;
    height: 90px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
    height: 64px;
  }
}
